div.progress.progress-striped.active
    div.bar
div.container-fluid
    div.row-fluid
        div.span2.playlists
            div.well(style='padding: 8px 0;')
                ul.nav.nav-list
                    li.nav-header Playlists
                ul.nav.nav-list.all
                ul.nav.nav-list
                    li.divider
                    li.nav-header.playlist Playlistos
                ul.nav.nav-list.active
        div.span8.songs
        div.span2.misc
            div.well(style='padding: 8px 0;')
                ul.nav.nav-list
                    li.nav-header Optionen
                    li
                        a#index(href='#!') 
                            i.icon-cog
                            = 'Indizieren'
                    li
                        a(href='#!')
                            i.icon-pencil
                            = 'Editieren'
                    li.divider
                    li
                        a(href='#!')
                            i.icon-flag
                            = 'Hilfe'
                    li.divider
                    li
                        a(href='/logout')
                            i.icon-volume-off
                            = 'Logout'
