!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		!= body
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/script.js')
